* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: white;
}

body{
    width: 100vw;
    min-height: 100vh;
}


@media only screen and (max-width: 415px){
    body {
        background-color: #FFFFFF;
    }

    #background{
        width: 100%;
        height: 100%;
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
    }

    #pattern-bg{
        width: 87.2%;
        height: auto;
        margin-top: 3.493449782%;
        margin-left:6.4%;        ;
        
    }

    #quotes{
        width: 16%;
        height: auto;
        position: absolute;
        top: 52.984%;
        left:42.13333333%;

    }

    #pattern-curve{
        width: 76%;
        height: auto;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}

@media only screen and (max-width: 2560px) and (min-width: 769px){
    body {
        background-color:   black;

    }
}